.gitignore
Jenkinsfile
src/main/resources/application.properties
keystore.p12
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/resources/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
Dockerfile
Jenkinsfile
keystore.p12
/error.log.2024-05-15.0550730930541000.tmp
/error.log
/bin/
